################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DemoSOLID/bin/Debug/net6.0
/DemoSOLID/obj
